<!-- Config file for the game -->

<config>
  <app>
    <framerate framerate_cap="30"/>
    <title>Ramona Flowers vs The Code</title>
    <organization>UPC</organization>
  </app>
	
  <audio>
    <volume_default value = "80"/>
    <volume_modifier value = "30"/>
  </audio>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <max_map_x value = "-7315"/>
    <map_name name = "Level1.tmx">
      <music name = "Level_1.ogg"/>
    </map_name>
    <map_name name = "Level2.tmx">
      <music name = "Level_2.ogg"/>
    </map_name>
  </map>

  <entity_manager>
    <player>
      <moving_speed value = "250"/>
      <jumping_speed value = "-550"/>
      <collider_offset_x value = "7"/>
      <collider_offset_y value = "1"/>
      <death_sfx source = "audio/sfx/Death.wav"/>
      <jump_sfx source = "audio/sfx/Jumping.wav"/>
      <land_sfx source = "audio/sfx/Landing.wav"/>
    </player>
    <flying_enemy>
      <collider_offset_x value = "17"/>
      <collider_offset_y value = "10"/>
    </flying_enemy>
    <ground_enemy>
      <collider_offset_x value = "0"/>
      <collider_offset_y value = "0"/>
    </ground_enemy>
  </entity_manager>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>

  <ingame_scene>
     <gravity_x value = "0"/>
    <gravity_y value = "-50"/>
    <max_gravity_x value = "0"/>
    <max_gravity_y value = "700"/>
  </ingame_scene>
</config>