<!-- Config file for the game -->

<config>
  <app>
    <framerate framerate_cap="30"/>
    <title>Ramona Flowers vs The Code</title>
    <organization>UPC</organization>
  </app>
	
  <audio>
    <volume_default value = "80"/>
    <volume_modifier value = "30"/>
  </audio>

  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <max_map_x value = "4200"/>
    <max_map_y value = "1888"/>
  </map>
  
  <player>
    <sprite_path path = "Ramona.png"/>
    <moving_speed value = "5"/>
    <jumping_speed value = "-14.5"/>
    <collider_offset_x value = "7"/>
    <collider_offset_y value = "1"/>
    <jump_sfx source = "audio/sfx/Jumping.wav"/>
    <landing_sfx source = "audio/sfx/Landing.wav"/>
    <death_sfx source = "audio/sfx/Death.wav"/>
  </player>	

  <scene>
    <map_name name = "Level1finalinprogress.tmx">
      <music name = "Level_1.ogg"/>
    </map_name>
    <map_name name = "Level2.tmx">
      <music name = "Level_2.ogg"/>
    </map_name>
  </scene>
</config>