<!-- Config file for the game -->

<config>
  <app>
    <framerate framerate_cap="30"/>
    <title>Ramona Flowers vs The Code</title>
    <organization>UPC</organization>
  </app>
	
  <audio>
    <volume_default value = "96"/>
  </audio>

  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <player>
    <sprite_path path = "Ramona.png"/>
  </player>	

  <scene>
    <map_name name = "Level1.tmx">
      <music name = "Level_1.ogg"/>
    </map_name>
    <map_name name = "Level2.tmx">
      <music name = "Level_2.ogg"/>
    </map_name>
  </scene>
</config>