<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <player>
    <sprite_path path = "Ramona.png"/>
    <speed x = "2.5"/>
    <speed y = "0"/>
  </player>	

  <scene>
    <map_name name = "test.tmx">
       <music name = "Level_1.ogg"/>
    </map_name>
    <map_name name = "test2.tmx">
       <music name = "Level_2.ogg"/>
    </map_name>
  </scene>
</config>